/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
    height: 100%;
}
body {
    font-family: "Droid Sans Mono", "courier new", "courier", monospace;
    padding: 0;
    margin: 0;
    height: 100%;
}
.width-auto {
    width: auto;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

#connection_bridge_container {
    margin: -1000px 0 0 0;
}

#buffer {
    color: #fff;
    background: #000;
    overflow: auto;
    font-size: 0.9em;
    margin: 0;
    height: 100%;
    padding: 0 0 5px 0;
    line-height: 1.2em;
}
span.line {
    display: block;
}
span.ts {
    background: #333;
    padding: 0 5px;
    color: #ffd700;
    display: none;
}
span.data {
    padding-left: 5px;
}
span.cmd span.data {
    color: #bdb76b;
}

#entryform {
    padding: 0;
}
#entryform p {
    padding: 0;
    margin: 0;
}
#command {
    margin: 0;
    border-bottom: 1px solid #999;
    width: 99.5%;
}

nav {
    background-color: #ccc;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid #999;
    font-size: 12px;
    padding: 0 5px;
    font-family: arial, sans-serif;
}
nav li {
    display: inline;
    padding: 0 10px 0 0;
}
nav a {
    color: #333;
    text-decoration: none;
}
nav a:hover {
    color: #000;
    text-decoration: underline;
}

#gui-dialog {
    border: 1px solid #999;
    background: #ccc;
    width: 700px;
    min-height: 500px;
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}
#gui-dialog-close {
    float: right;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-family: arial, sans-serif;
    margin: 5px;
}
#gui-dialog-left {
    float: left;
    background: #fff;
    border: 1px solid #999;
    width: 180px;
    height: 480px;
    margin: 10px;
}
#gui-dialog-template { display: none; }
#gui-dialog-label {
    font-weight: bold;
    padding: 3px 3px 5px 3px;
    text-align: center;
    background: #cfcfcf;
    border-bottom: 1px solid #999;
    height: auto;
    min-height: 0;
    margin-bottom: 5px;

}
#gui-dialog-add {
    float: right;
    margin-top: -2px;
    display: none;
}
#gui-dialog-add a {
    float: right;
    margin-left: 5px;
}
#gui-dialog-edit-notification {
    float: left;
    width: 450px;
    margin: 30px 0 0 10px;
    padding: 5px;
    font-size: 12px;
    display: none;
}
.notification-success {
    background: #90ee90;
    border: 1px solid #5faf00;
}
.notification-error {
    background: #f08080;
    border: 1px solid red;
}

#gui-dialog-list li {
    min-height: 20px;
}
#gui-dialog-list li ul {
    margin-left: 15px;
}
#gui-dialog-list input {
    float: left;
    background: #fff;
    border: 1px solid #999;
}
#gui-dialog-list a {
    display: block;
    color: #333;
    padding: 2px;
    font-size: 13px;
    text-decoration: none;
}
#gui-dialog-list a.active {
    font-weight: bold;
}
#gui-dialog-list a:hover {
    text-decoration: underline;
}
#gui-dialog-list label {
    display: block;
    margin: 5px 5px 0 5px;
}

#gui-dialog-edit-settings {
    display: none;
    float: left;
    margin: 40px 10px 0 10px;
    width: 450px;
}
#gui-dialog-edit-settings label {
    font-size: 12px;
}
#gui-dialog-edit-settings .row {
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 5px;
}
#gui-dialog-edit-settings .button-row {
    margin-top: 10px;
    border-bottom: none;
}
#edit-settings-template {
    display: none;
}

#gui-dialog-edit-item,
#gui-dialog-edit-container {
    margin: 20px 10px 0 10px;
    float: left;
    display: none;
}
#gui-dialog-edit-container .row,
#gui-dialog-edit-item .row {
    min-height: 20px;
    line-height: 25px;
}
#gui-dialog-edit-container .row label,
#gui-dialog-edit-item .row label {
    width: 45px;
    float: left;
    font-size: 12px;
}
#gui-dialog-edit-item .row #regex-label {
    width: auto;
    height: 15px;
    line-height: 15px;
}
#gui-dialog-edit-container .row input,
#gui-dialog-edit-item .row input {
    background: #fff;
    border: 1px solid #999;
    width: 400px;
}
#gui-dialog-edit-item textarea {
    width: 450px;
    height: 300px;
    resize: vertical;
}
#gui-dialog-edit-item .row #gui-dialog-edit-item-regex {
    width: auto;
}

#buffer .color_016 { color: #000000; }
#buffer .color_017 { color: #00005f; }
#buffer .color_018 { color: #000087; }
#buffer .color_019 { color: #0000af; }
#buffer .color_020 { color: #0000d7; }
#buffer .color_021 { color: #0000ff; }
#buffer .color_022 { color: #005f00; }
#buffer .color_023 { color: #005f5f; }
#buffer .color_024 { color: #005f87; }
#buffer .color_025 { color: #005faf; }
#buffer .color_026 { color: #005fd7; }
#buffer .color_027 { color: #005fff; }
#buffer .color_028 { color: #008700; }
#buffer .color_029 { color: #00875f; }
#buffer .color_030 { color: #008787; }
#buffer .color_031 { color: #0087af; }
#buffer .color_032 { color: #0087d7; }
#buffer .color_033 { color: #0087ff; }
#buffer .color_034 { color: #00af00; }
#buffer .color_035 { color: #00af5f; }
#buffer .color_036 { color: #00af87; }
#buffer .color_037 { color: #00afaf; }
#buffer .color_038 { color: #00afd7; }
#buffer .color_039 { color: #00afff; }
#buffer .color_040 { color: #00d700; }
#buffer .color_041 { color: #00d75f; }
#buffer .color_042 { color: #00d787; }
#buffer .color_043 { color: #00d7af; }
#buffer .color_044 { color: #00d7d7; }
#buffer .color_045 { color: #00d7ff; }
#buffer .color_046 { color: #00ff00; }
#buffer .color_047 { color: #00ff5f; }
#buffer .color_048 { color: #00ff87; }
#buffer .color_049 { color: #00ffaf; }
#buffer .color_050 { color: #00ffd7; }
#buffer .color_051 { color: #00ffff; }
#buffer .color_082 { color: #5fff00; }
#buffer .color_083 { color: #5fff5f; }
#buffer .color_084 { color: #5fff87; }
#buffer .color_085 { color: #5fffaf; }
#buffer .color_086 { color: #5fffd7; }
#buffer .color_087 { color: #5fffff; }
#buffer .color_076 { color: #5fd700; }
#buffer .color_077 { color: #5fd75f; }
#buffer .color_078 { color: #5fd787; }
#buffer .color_079 { color: #5fd7af; }
#buffer .color_080 { color: #5fd7d7; }
#buffer .color_081 { color: #5fd7ff; }
#buffer .color_070 { color: #5faf00; }
#buffer .color_071 { color: #5faf5f; }
#buffer .color_072 { color: #5faf87; }
#buffer .color_073 { color: #5fafaf; }
#buffer .color_074 { color: #5fafd7; }
#buffer .color_075 { color: #5fafff; }
#buffer .color_064 { color: #5f8700; }
#buffer .color_065 { color: #5f875f; }
#buffer .color_066 { color: #5f8787; }
#buffer .color_067 { color: #5f87af; }
#buffer .color_068 { color: #5f87d7; }
#buffer .color_069 { color: #5f87ff; }
#buffer .color_058 { color: #5f5f00; }
#buffer .color_059 { color: #5f5f5f; }
#buffer .color_060 { color: #5f5f87; }
#buffer .color_061 { color: #5f5faf; }
#buffer .color_062 { color: #5f5fd7; }
#buffer .color_063 { color: #5f5fff; }
#buffer .color_052 { color: #5f0000; }
#buffer .color_053 { color: #5f005f; }
#buffer .color_054 { color: #5f0087; }
#buffer .color_055 { color: #5f00af; }
#buffer .color_056 { color: #5f00d7; }
#buffer .color_057 { color: #5f00ff; }
#buffer .color_093 { color: #8700ff; }
#buffer .color_092 { color: #8700d7; }
#buffer .color_091 { color: #8700af; }
#buffer .color_090 { color: #870087; }
#buffer .color_089 { color: #87005f; }
#buffer .color_088 { color: #870000; }
#buffer .color_099 { color: #875fff; }
#buffer .color_098 { color: #875fd7; }
#buffer .color_097 { color: #875faf; }
#buffer .color_096 { color: #875f87; }
#buffer .color_095 { color: #875f5f; }
#buffer .color_094 { color: #875f00; }
#buffer .color_105 { color: #8787ff; }
#buffer .color_104 { color: #8787d7; }
#buffer .color_103 { color: #8787af; }
#buffer .color_102 { color: #878787; }
#buffer .color_101 { color: #87875f; }
#buffer .color_100 { color: #878700; }
#buffer .color_111 { color: #87afff; }
#buffer .color_110 { color: #87afd7; }
#buffer .color_109 { color: #87afaf; }
#buffer .color_108 { color: #87af87; }
#buffer .color_107 { color: #87af5f; }
#buffer .color_106 { color: #87af00; }
#buffer .color_117 { color: #87d7ff; }
#buffer .color_116 { color: #87d7d7; }
#buffer .color_115 { color: #87d7af; }
#buffer .color_114 { color: #87d787; }
#buffer .color_113 { color: #87d75f; }
#buffer .color_112 { color: #87d700; }
#buffer .color_123 { color: #87ffff; }
#buffer .color_122 { color: #87ffd7; }
#buffer .color_121 { color: #87ffaf; }
#buffer .color_120 { color: #87ff87; }
#buffer .color_119 { color: #87ff5f; }
#buffer .color_118 { color: #87ff00; }
#buffer .color_159 { color: #afffff; }
#buffer .color_158 { color: #afffd7; }
#buffer .color_157 { color: #afffaf; }
#buffer .color_156 { color: #afff87; }
#buffer .color_155 { color: #afff5f; }
#buffer .color_154 { color: #afff00; }
#buffer .color_153 { color: #afd7ff; }
#buffer .color_152 { color: #afd7d7; }
#buffer .color_151 { color: #afd7af; }
#buffer .color_150 { color: #afd787; }
#buffer .color_149 { color: #afd75f; }
#buffer .color_148 { color: #afd700; }
#buffer .color_147 { color: #afafff; }
#buffer .color_146 { color: #afafd7; }
#buffer .color_145 { color: #afafaf; }
#buffer .color_144 { color: #afaf87; }
#buffer .color_143 { color: #afaf5f; }
#buffer .color_142 { color: #afaf00; }
#buffer .color_141 { color: #af87ff; }
#buffer .color_140 { color: #af87d7; }
#buffer .color_139 { color: #af87af; }
#buffer .color_138 { color: #af8787; }
#buffer .color_137 { color: #af875f; }
#buffer .color_136 { color: #af8700; }
#buffer .color_135 { color: #af5fff; }
#buffer .color_134 { color: #af5fd7; }
#buffer .color_133 { color: #af5faf; }
#buffer .color_132 { color: #af5f87; }
#buffer .color_131 { color: #af5f5f; }
#buffer .color_130 { color: #af5f00; }
#buffer .color_129 { color: #af00ff; }
#buffer .color_128 { color: #af00d7; }
#buffer .color_127 { color: #af00af; }
#buffer .color_126 { color: #af0087; }
#buffer .color_125 { color: #af005f; }
#buffer .color_124 { color: #af0000; }
#buffer .color_160 { color: #d70000; }
#buffer .color_161 { color: #d7005f; }
#buffer .color_162 { color: #d70087; }
#buffer .color_163 { color: #d700af; }
#buffer .color_164 { color: #d700d7; }
#buffer .color_165 { color: #d700ff; }
#buffer .color_166 { color: #d75f00; }
#buffer .color_167 { color: #d75f5f; }
#buffer .color_168 { color: #d75f87; }
#buffer .color_169 { color: #d75faf; }
#buffer .color_170 { color: #d75fd7; }
#buffer .color_171 { color: #d75fff; }
#buffer .color_172 { color: #d78700; }
#buffer .color_173 { color: #d7875f; }
#buffer .color_174 { color: #d78787; }
#buffer .color_175 { color: #d787af; }
#buffer .color_176 { color: #d787d7; }
#buffer .color_177 { color: #d787ff; }
#buffer .color_178 { color: #dfaf00; }
#buffer .color_179 { color: #dfaf5f; }
#buffer .color_180 { color: #dfaf87; }
#buffer .color_181 { color: #dfafaf; }
#buffer .color_182 { color: #dfafdf; }
#buffer .color_183 { color: #dfafff; }
#buffer .color_184 { color: #dfdf00; }
#buffer .color_185 { color: #dfdf5f; }
#buffer .color_186 { color: #dfdf87; }
#buffer .color_187 { color: #dfdfaf; }
#buffer .color_188 { color: #dfdfdf; }
#buffer .color_189 { color: #dfdfff; }
#buffer .color_190 { color: #dfff00; }
#buffer .color_191 { color: #dfff5f; }
#buffer .color_192 { color: #dfff87; }
#buffer .color_193 { color: #dfffaf; }
#buffer .color_194 { color: #dfffdf; }
#buffer .color_195 { color: #dfffff; }
#buffer .color_226 { color: #ffff00; }
#buffer .color_227 { color: #ffff5f; }
#buffer .color_228 { color: #ffff87; }
#buffer .color_229 { color: #ffffaf; }
#buffer .color_230 { color: #ffffdf; }
#buffer .color_231 { color: #ffffff; }
#buffer .color_220 { color: #ffdf00; }
#buffer .color_221 { color: #ffdf5f; }
#buffer .color_222 { color: #ffdf87; }
#buffer .color_223 { color: #ffdfaf; }
#buffer .color_224 { color: #ffdfdf; }
#buffer .color_225 { color: #ffdfff; }
#buffer .color_214 { color: #ffaf00; }
#buffer .color_215 { color: #ffaf5f; }
#buffer .color_216 { color: #ffaf87; }
#buffer .color_217 { color: #ffafaf; }
#buffer .color_218 { color: #ffafdf; }
#buffer .color_219 { color: #ffafff; }
#buffer .color_208 { color: #ff8700; }
#buffer .color_209 { color: #ff875f; }
#buffer .color_210 { color: #ff8787; }
#buffer .color_211 { color: #ff87af; }
#buffer .color_212 { color: #ff87df; }
#buffer .color_213 { color: #ff87ff; }
#buffer .color_202 { color: #ff5f00; }
#buffer .color_203 { color: #ff5f5f; }
#buffer .color_204 { color: #ff5f87; }
#buffer .color_205 { color: #ff5faf; }
#buffer .color_206 { color: #ff5fdf; }
#buffer .color_207 { color: #ff5fff; }
#buffer .color_196 { color: #ff0000; }
#buffer .color_197 { color: #ff005f; }
#buffer .color_198 { color: #ff0087; }
#buffer .color_199 { color: #ff00af; }
#buffer .color_200 { color: #ff00df; }
#buffer .color_201 { color: #ff00ff; }
#buffer .color_232 { color: #080808; }
#buffer .color_233 { color: #121212; }
#buffer .color_234 { color: #1c1c1c; }
#buffer .color_235 { color: #262626; }
#buffer .color_236 { color: #303030; }
#buffer .color_237 { color: #3a3a3a; }
#buffer .color_238 { color: #444444; }
#buffer .color_239 { color: #4e4e4e; }
#buffer .color_240 { color: #585858; }
#buffer .color_241 { color: #626262; }
#buffer .color_242 { color: #6c6c6c; }
#buffer .color_243 { color: #767676; }
#buffer .color_255 { color: #eeeeee; }
#buffer .color_254 { color: #e4e4e4; }
#buffer .color_253 { color: #dadada; }
#buffer .color_252 { color: #d0d0d0; }
#buffer .color_251 { color: #c6c6c6; }
#buffer .color_250 { color: #bcbcbc; }
#buffer .color_249 { color: #b2b2b2; }
#buffer .color_248 { color: #a8a8a8; }
#buffer .color_247 { color: #9e9e9e; }
#buffer .color_246 { color: #949494; }
#buffer .color_245 { color: #8a8a8a; }
#buffer .color_244 { color: #808080; }
#buffer .color_000 { color: #000000; }
#buffer .color_red,
#buffer .color_001 { color: #800000; }
#buffer .color_green,
#buffer .color_002 { color: #008000; }
#buffer .color_yellow,
#buffer .color_003 { color: #808000; }
#buffer .color_blue,
#buffer .color_004 { color: #000080; }
#buffer .color_purple,
#buffer .color_005 { color: #800080; }
#buffer .color_cyan,
#buffer .color_clear,
#buffer .color_006 { color: #008080; }
#buffer .color_lightgrey,
#buffer .color_007 { color: #c0c0c0; }
#buffer .color_darkgrey,
#buffer .color_008 { color: #808080; }
#buffer .color_brightred,
#buffer .color_009 { color: #ff0000; }
#buffer .color_brightgreen,
#buffer .color_010 { color: #00ff00; }
#buffer .color_brightyellow,
#buffer .color_011 { color: #ffff00; }
#buffer .color_brightblue,
#buffer .color_012 { color: #0000ff; }
#buffer .color_brightpurple,
#buffer .color_013 { color: #ff00ff; }
#buffer .color_brightcyan,
#buffer .color_014 { color: #00ffff; }
#buffer .color_white,
#buffer .color_015 { color: #ffffff; }