<div id="gui-dialog">
    <a href="javascript:;" id="gui-dialog-close"><span>X</span></a>

    <div id="gui-dialog-left">
        <div id="gui-dialog-label">
            <label id="gui-dialog-label-data"></label>
            <div id="gui-dialog-add">
                <a href="javascript:;" id="gui-dialog-add-item"><img src="/img/icons/add.png" /></a>
                <a href="javascript:;" id="gui-dialog-add-container"><img src="/img/icons/folder_add.png" /></a>
            </div>
        </div>
        <ul id="gui-dialog-list">

        </ul>
        <ul id="gui-dialog-template">
            <li id="gui-dialog-template-container"><label><a href="javascript:;" rel="##rel##" type="container"><img src="/img/icons/folder.png" /> ##title##</a></label><ul></ul></li>
            <li id="gui-dialog-template-item"><input type="checkbox" rel="##rel##" /><a href="javascript:;" rel="##rel##" type="item">##title##</a></li>
            <li id="gui-dialog-template-setting"><a href="javascript:;" rel="##rel##" type="setting">##title##</a></li>
        </ul>
    </div>

    <div id="gui-dialog-edit-notification" class="">
        Item succesfully saved!
    </div>

    <div id="gui-dialog-edit-settings">
        <div id="gui-dialog-edit-settings-container">

        </div>
        <div class="row button-row">
            <button id="gui-dialog-edit-settings-save"><span>Save</span></button>
        </div>
        <div class="row" id="edit-settings-template">
            <label></label>
            <select>
            </select>
        </div>
    </div>

    <div id="gui-dialog-edit-item">
        <input type="hidden" id="gui-dialog-edit-item-id" />
        <input type="hidden" id="gui-dialog-edit-item-container" />
        <div class="row">
            <label for="gui-dialog-edit-item-name">Name</label>
            <input type="text" id="gui-dialog-edit-item-name" />
        </div>
        <div class="row">
            <label for="gui-dialog-edit-item-pattern">Pattern</label>
            <input type="text" id="gui-dialog-edit-item-pattern" />
        </div>
        <div class="row">
            <input type="checkbox" id="gui-dialog-edit-item-regex" class="width-auto float-left" />
            <label for="gui-dialog-edit-item-regex" id="regex-label">Regular expression</label>
        </div>
        <div class="edit">
            <textarea id="gui-dialog-edit-item-data"></textarea>
        </div>
        <div class="row">
            <button id="gui-dialog-edit-item-save"><span>Save</span></button>
            <button id="gui-dialog-edit-item-delete"><span>Delete</span></button>
        </div>
    </div>

    <div id="gui-dialog-edit-container">
        <input type="hidden" id="gui-dialog-edit-container-id" />
        <div class="row">
            <label for="gui-dialog-edit-container-name">Name</label>
            <input type="text" id="gui-dialog-edit-container-name" />
        </div>
        <div class="row">
            <button id="gui-dialog-edit-container-save"><span>Save</span></button>
            <button id="gui-dialog-edit-container-delete"><span>Delete</span></button>
        </div>
    </div>
</div>